/* Custom styling CSS */

html,
body {
  /* Required to keep footer at bottom of page */
	margin:0;
	padding:0;
	height:100%;
}

#header {
  margin-top: 50px;
}

#logo {
  margin: 0 auto;
  width: 60%;
  display: block;
}


#wrapper {
  min-height: 100%;
  position: relative;
  padding-bottom: 80px;
}

footer {
  width:100%;
  height:60px;
  position:absolute;
  bottom:0;
  left:0;
  border-top: 1px solid #DDD;
}

footer div.box {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

#download-dropdown {
  width: 30%;
  height: 30px;
  font-size: 18px;
}

.orbtn {
  background: #ff9742;
  background-image: -webkit-linear-gradient(top, #ff9742, #f06c00);
  background-image: -moz-linear-gradient(top, #ff9742, #f06c00);
  background-image: -ms-linear-gradient(top, #ff9742, #f06c00);
  background-image: -o-linear-gradient(top, #ff9742, #f06c00);
  background-image: linear-gradient(to bottom, #ff9742, #f06c00);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.orbtn:hover {
  background: #ffa44f;
  text-decoration: none;
}