<!-- Algorithmic Trading © -->
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Algorithmic Trading - Revitpo Inc</title>
  
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body ng-app="appDownload">
 <div ng-controller="VersionController">
 <!-- Drop Down Menu -->
 <div ng-repeat="x in deployments">
  <select>
  <option ng-repeat="y in x.links" value="{{y.link}}">{{x.short_descr}} ({{y.os}})</option>
  </select>
 </div>
 </div>
 
<tt>Copyright © 2015. Revitpo Inc. All Rights Reserved.</tt>
</body>
</html>