<!-- Algorithmic Trading © -->
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Algorithmic Trading - Revitpo Inc</title>
  
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body ng-app="appDownload">


 <div ng-controller="VersionController">
 <form>
 <!-- Drop Down Menu -->
 <select ng-model="deploymentURL"">
 <option selected="selected" value="">-</option>
 <option ng-repeat="deployment in deployments" value="{{deployment.link}}">{{deployment.short_descr}} ({{deployment.os}})</option>
 </select>
 <input type="submit" ng-click="downloadFile(deploymentURL)" value="Download" />
 </form>
 </div>
<h2 class="icon_comp">Builds</h2>
<p>Our application is available for both Microsoft Windows &reg; and Linux</p>
 
<footer>
<tt>Copyright © 2015. Revitpo Inc. All Rights Reserved.</tt>
</footer>
</body>
</html>