<!-- Download content --> 

<h1>Builds</h1>
<div ng-controller="VersionController">
    
    <form>

        <!-- Drop Down Menu -->
        <select ng-model="deploymentURL"">
        <option selected="selected" value="">-</option>
        <option ng-repeat="deployment in deployments" value="{{deployment.link}}">{{deployment.short_descr}} ({{deployment.os}})</option>
        </select>
        <input type="submit" ng-click="downloadFile(deploymentURL)" value="Download" />

    </form>
                                                                                
</div>