<ul class="nav nav-tabs"> 
  <li role="presentation"><a href="#home" ng-click="loadContent('home.html')">Home</a></li>
  <li role="presentation"><a href="#download" ng-click="loadContent('download.html')">Download</a></li>
  <li role="presentation"><a href="#documentation" ng-click="loadContent('documentation.html')">Documentation</a></li>
  <li role="presentation"><a href="#3rd_party_integration" ng-click="loadContent('3rd_party_integration.html')">3rd Party Integration</a></li>
  <li role="presentation"><a href="#legal" ng-click="loadContent('legal.html')">Legal</a></li>
  <li role="presentation"><a href="#about-us" ng-click="loadContent('about_us.html')">About Us</a></li>
</ul>